$bg-white: #ffffff;
$bg-light: #fafaf8;

$primary: #74a23c;
$background: #e7edd4;
$hover: #ebedd4;

$text-secondary: #6c757d;
$gray-secondary: #343a40;

$border-light: #d8caca;

$bp-tablette: 768px;
$bp-big-tablette: 1024px;
$bp-desktop: 1270px;